@import "_variables";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login__logo {
  font-family: $logo-font;
  color: $color-main-accent;
  font-size: 50px;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login__input {
  border: 2px $color-input-border solid;
  border-radius: 7px;
  padding: 5px 8px;
  margin-bottom: 15px;
  width: 100%;
  color: $color-input-text;
}

.login__input:last-of-type {
  margin-bottom: 20px;
}

.login__input:hover {
  border-color: $color-input-border;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login__input:focus {
  border-color: $color-input-border-focus;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.login__input::placeholder {
  font-family: $logo-font;
  letter-spacing: 0.01em;
  color: $color-input-placeholder;
}

.login__button {
  background-color: $color-big-button;
  color: #ffffff;
  border: none;
  padding: 7px 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
  margin-bottom: 15px;
}

.login__button:hover {
  background-color: $color-big-button-hover;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.login__button:focus {
  background-color: $color-big-button-hover;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.login__button:active {
  background-color: $color-big-button-hover;
  color: $color-big-button-active-text;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.login__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login__link {
  color: $color-login-links;
  font-size: 16px;
}

.login__link:hover {
  color: $color-login-links-hover;
}

@media (max-width: 350px) {
  .login__wrapper {
    width: 80%;
  }
  .login__logo {
    font-size: 15vw;
  }
  .login__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }
}
